@import "ng-whatsapp-clone-variables"

.contacts-window
  background-color: #131c21
  overflow: auto
.active
  background-color: #131c21
.last_time
  color: #f1f1f2a1
.contact-pill
  &:hover
    cursor: pointer
    background-color: $contact-highlight
  .contact-text-container
    border-top: solid 1px #30383d
.profile-pic
  height: 73px
  img
    border-radius: 50%
    padding: 7px

.highlighted
  background-color: $contact-highlight
