<div class="contacts-window h-100">
  <ng-container *ngFor="let chat_data of chats">
    <ng-container *ngIf="chat_data.type == 'single_chat'">
      <div class="contact-pill text-white d-flex">
        <div class="profile-pic f-20">
          <img class="h-100" src="{{ chat_data.chat.contact.profile_pic }}" alt="">
        </div>
        <div class="d-flex f-70 flex-column justify-content-center">
          <div class="upper-line d-flex justify-content-between">
            <span class="name">{{ chat_data.chat.contact.name }}</span>
            <span class="last-time small pr-3 text-white-transparent">{{ chat_data.chat.last_message.date | date : 'EEEE' : 'GMT' : 'de' }}</span>
          </div>
          <div class="lower-line">
            <span class="last-message">{{ chat_data.chat.last_message.message }}</span>
            <span class="options-icons small pr-3">
              <!-- mute icon und options-icon (mit dropdown) einfügen -->
            </span>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
