<div class="chat-window-outer h-100 position-relative">
  <div class="chat-bg h-100 w-100 position-absolute"></div>
  <div class="chat-window-inner h-100 d-flex flex-column-reverse">
    <div class="chat-history d-flex flex-column">
      <ng-container *ngFor="let message_data of complete_chat">
        <div *ngIf="message_data.send_by == 1; else sendByThem" class="chat-message position-relative d-inline-block send-by-me align-self-end"> <!-- align-self-end wenn send_by: 1 -->
          <span class="text-white">{{ message_data.message }}</span>
          <svg-icon class="position-absolute" src="assets/svgs/chat-corner.svg" [svgStyle]="{ 'width':'8px','height':'13px' }"></svg-icon>
        </div>
        <ng-template #sendByThem>
          <div class="chat-message position-relative d-inline-block send-by-them align-self-start"> <!-- align-self-end wenn send_by: 1 -->
            <span class="text-white">{{ message_data.message }}</span>
            <svg-icon class="position-absolute" src="assets/svgs/chat-corner.svg" [svgStyle]="{ 'width':'8px','height':'13px' }"></svg-icon>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
