<div class="chat-window-outer d-flex flex-column h-100 justify-content-end position-relative">
  <div class="chat-bg h-100 w-100 position-absolute"></div>
  <button (click)="addRandomResponse()" class="btn btn-primary add-random-response position-absolute">add Random Response</button>
  <div class="chat-window-inner">
    <div class="chat-history d-flex flex-column">
      <ng-container *ngFor="let message_data of complete_chat">
        <div *ngIf="message_data.send_by == 1; else sendByThem" class="chat-message position-relative d-inline-block send-by-me align-self-end"> <!-- align-self-end wenn send_by: 1 -->
          <span class="text-white text-90">{{ message_data.message }}</span>
          <span class="text-white-transparent send-at text-70 position-absolute">{{ message_data.date | date : 'HH:mm' : 'UTF+1' : 'de' }}</span>
          <svg-icon class="position-absolute" src="assets/svgs/chat-corner.svg" [svgStyle]="{ 'width':'8px','height':'13px' }"></svg-icon>
        </div>
        <ng-template #sendByThem>
          <div class="chat-message position-relative d-inline-block send-by-them align-self-start"> <!-- align-self-end wenn send_by: 1 -->
            <span class="text-white text-90">{{ message_data.message }}</span>
            <span class="text-white-transparent send-at text-70 position-absolute">{{ message_data.date | date : 'HH:mm' : 'UTF+1' : 'de' }}</span>
            <svg-icon class="position-absolute" src="assets/svgs/chat-corner.svg" [svgStyle]="{ 'width':'8px','height':'13px' }"></svg-icon>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
  <div class="input-bar w-100 position-relative p-2 d-flex">
    <div class="d-flex o-hidden" *ngIf="!showEmojiMenu" [@emojiEnterDelay]>
      <button class="emoji-menu" (click)="showEmojiMenu = !showEmojiMenu">:)</button>
      <button class="attach-file">#</button>
    </div>
    <div class="d-flex o-hidden" *ngIf="showEmojiMenu" [@emojiMenuToggle]>
      <button class="close-emoji-menu" (click)="showEmojiMenu = false">x</button>
      <button class="emoji-menu" (click)="showEmojiMenu = true">:)</button>
      <button class="choose-gif">3</button>
      <button class="choose-sticker">4</button>
      <button class="attach-file">#</button>
    </div>
    <input (keydown.enter)="onSendInput()" type="text" class="input-field" placeholder="Type a message" [(ngModel)]="inputValue">
    <button>
      <button (click)="onSendInput()" *ngIf="!!inputValue; else mic" class="send-button">></button>
      <ng-template #mic>
        <button class="audio-button">O</button>
      </ng-template>
    </button>
  </div>
</div>
