@import "ng-whatsapp-clone-variables"

body
  height: 100vh
  overflow: hidden

// global helper classes:
.f-20
  flex: 20%
.f-30
  flex: 30%
.f-70
  flex: 70%
.text-white-transparent
  color: $contacts-date-color
.text-90
  font-size: 90%
.text-70
  font-size: 70%
.o-hidden
  overflow: hidden

// global scroll-bar classes
::-webkit-scrollbar
    width: 6px!important
    height: 6px!important
::-webkit-scrollbar-thumb
    background-color: hsla(0,0%,100%,.16)
