// --- hier nach und nach alle farbdefinitionen, etc. auslagern und als variablen benutzen

  
// chat
$chat-color-them: #262d31
$chat-color-me: #054740
$chat-window-bg-color: #0d1418

// contacts
$contacts-date-color: #f1f1f2a1
